{% load static%}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" media="screen" />
  <title>Busca animal</title>
</head>
<body>


<nav class="navbar">
  <a class="navbar__link" href="#">Busca Animal</a>
</nav>

<section class="search-section">
    <h1 class="title">Pesquise um animal e descubra <span class="title__detail">4 coisas</span> sobre ele</h1>

    <form class="form">
      <input class="form__input" type="text" class="form-control" id="search" name="search" placeholder="Exemplo: Leão" aria-label="Buscar animal"/>
        
      <button type="submit" class="button">Pesquisar</button>
    </form>
</section>

{% for characteristic in characteristics %}
<section class="results-section">
  <ul class="results">
    <li class="result">
      <h3 class="result-description">
        Nome do animal
      </h3>
      <h2 class="result-title">
        {{ characteristic.name }}
      </h2>
    </li>
    <li class="result">
      <h2 class="result-description">
        Predador
      </h2>
      <h3 class="result-description">
        {{ characteristic.predator }}
      </h3>
    </li>
    <li class="result">
      <h2 class="result-description">
        Venenoso
      </h2>
      <h3 class="result-description">
        {{ characteristic.poisonous }}
      </h3>
    </li>
    <li class="result">
      <h2 class="result-description">
        Doméstico
      </h2>
      <h3 class="result-description">
        {{ characteristic.domestic }}
      </h3>
    </li>
  </ul>
</section>
{% endfor %}
        
</body>
</html>